@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Registrate
    </button>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tipo de cuenta</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <br>
                    <br>
                    <br>

                    <div class="row">
                      
                        <div class="col-md-12">
                            <a type="button" class="btn btn-success btn-lg btn-block" asp-page="/RegistroT">Tutor</a>
                            <br>
                            <a type="button" class="btn btn-success btn-lg btn-block" asp-page="/RegistroA">Administrador</a>
                        </div>
                      
                    </div>
                    <br>
                    <br>
                    <br>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
