@page
@model OrganiZaUI.Pages.MenuPagosModel
@{
}
<h1 class="text-center text-info">Menu de pagos</h1>
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <br>
            <br>
        </div>
    </div>
</div>

<div class="row">

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
                    <div class="card-header">
                        <h4>Realiza un Pago</h4>
                    </div>
                    <img class="card-img-top img-thumbnail imgThumbnail" src="~/images/Pagos.jpg"
                         alt="" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title" dis></h5>
                        <p class="card-text">
                            <ul>
                                <li> </li>
                                <li>Dimensions</li>
                                <li>Weight:  kg</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-success m-1">Pagar</a>
                    </div>
                </div>
                <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
                    <div class="card-header">
                        <h4>Historial de pago</h4>
                    </div>
                    <img class="card-img-top img-thumbnail imgThumbnail" src="~/images/Historial.jpg"
                         alt="" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title" dis></h5>
                        <p class="card-text">
                            <ul>
                                <li>Capacity: </li>
                                <li>Dimensions</li>
                                <li>Weight:  kg</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn btn-info ">Ver</a>
                    </div>
                </div>
                <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
                    <div class="card-header">
                        <h4>Mi Perfil</h4>
                    </div>
                    <img class="card-img-top img-thumbnail imgThumbnail" src=""
                         alt="" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title" dis></h5>
                        <p class="card-text">
                            <ul>
                                <li>Capacity: </li>
                                <li>Dimensions</li>
                                <li>Weight:  kg</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-info ">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
