@page
@model OrganiZaUI.Pages.PagosModel
@{
}
<link rel="stylesheet" href="~/css/main.css">

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">
                    Realizar pago
                </h3>
            </div>
            <div class="col-md-3">

                <button type="button" class="btn btn-success btn-lg">
                    Descargar ficha
                </button>
            </div>
            <div class="col-md-5">
                <h3 class="text-right">
                    Enviar comprobante
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Ficha de pago </label>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-success btn-lg">
                            Enviar
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-zone" style="text-align:center;">
                            <span class="drop-zone__prompt">Drop file here or click to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="col-md-12">

                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 " style="text-align: center;">
                        <h3 class="text-right">
                            Pagar con Paypal
                        </h3>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:right;">

                        <img src="https://www.paypalobjects.com/marketing/web/mx/logos-buttons/Paga-con-yellow_227x44.png" alt="Check out with PayPal" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/main.js"></script>
    <script src="~/src/js/jquery.min.js"></script>
    <script src="~/src/js/bootstrap.min.js"></script>
    <script src="~/src/js/scripts.js"></script>
</body>