@page
@model OrganiZaUI.Pages.RegistroEModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/StyleSheet.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
</div>
<div class="container">

    <form id="signup" class="mt-3" method="post">

        <div class="header">
            <br>
            <h3>Registrar escuela</h3>
            <p></p>

        </div>

        <div class="sep"></div>

        <div class="inputs">
            <input type="text" asp-for="@Model.escuela.NombreE" class="form-control" placeholder="Nombre de la escuela" autofocus autocomplete="off" />
            <input type="text" asp-for="@Model.escuela.Colegiatura" class="form-control" placeholder="Colegiatura" autofocus autocomplete="off" />
            <div class="form-group">
                <label for="exampleFormControlSelect1">Modo de pago</label>
                <select class="form-control" asp-for="@Model.escuela.ModoP">
                    <option>Mensual</option>
                    <option>Bimestral</option>
                    <option>Trimestral</option>
                    <option>Cuatrimestre</option>
                    <option>Semestre</option>
                    <option>Anual</option>
                </select>
            </div>

            <button id="submit" class="btn btn-success btn-block" type="submit">Registrar</button>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <a href="/Menu" class="ml-2">Volver</a>
                </div>
            </div>
        </div>

    </form>

</div>